<component name="ArtifactManager">
  <artifact type="war" name="spring_mvc_mybatis:war">
    <output-path>$PROJECT_DIR$/spring_mvc_mybatis/target</output-path>
    <root id="archive" name="spring_mvc_mybatis.war">
      <element id="artifact" artifact-name="spring_mvc_mybatis:war exploded" />
    </root>
  </artifact>
</component>